<div class="navbar">
    <div class="logo">
        <h1>SafeWebGuard</h1>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <% if (user) { %>
            <li><a href="/profile">My Profile</a></li>
            <li><a href="/logout">Logout</a></li> <!-- 로그아웃 링크 -->
        <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        <% } %>
    </ul>
</div>
