<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeWebGuard</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body class="main">
    <header class="header-hero-container">
        <%- include('partials/navbar', { user: user }) %>
        <div class="hero">
            <h1>Welcome to the website</h1>
            <p>A place where dreams come true</p>
            <a href="#" class="btn">Get Started</a>
        </div>
    </header>
    <section class="features">
        <h2>Our Features</h2>
        <div class="feature">
            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjEwMDlfMTky%2FMDAxNjY1Mjk3MTkxNzkz.JRyEUOYk4d4dU7uylBQ2GeC6qIPuBGkMVlu_GnG-aZAg.x4U3ehCUiW7DwA8_ydcAqrVL2ysxodvaRoy5xGoBg3cg.PNG.kslim1025%2F3208680.png&type=sc960_832" alt="Feature 1">
            <h3>Feature 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="feature">
            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA1MTdfODcg%2FMDAxNjg0MjgyNDA5OTIx.ftLj7roNPzHkWxiESZSF7bx81-nKOdziVkwJCJRe-Ssg.Dc0TdROYWj5TX8ZhkgarOoJttqWWfUpC9a34tXAyMb0g.JPEG.iu_corp%2F22112338_6534510.jpg&type=sc960_832" alt="Feature 2">
            <h3>Feature 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="feature">
            <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA4MTZfMTQy%2FMDAxNjkyMTcwMDc0MjYw.98Bt1vO0Y-lpWWUMTbW3O3f06tnJvn92jvXrRmDA-v0g.xWo6VyE7pck5r5cY-NQQx3FwDzASolV_yFzC76ZnDMYg.PNG.ssde8998%2F6d41536e-7227-4f84-aa17-db9f9a3381e5.png&type=a340" alt="Feature 3">
            <h3>Feature 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section>
    <footer>
        <p>&copy; 배재대학교 대학원 연구실. All rights reserved. Developed by Minseok Yu and Jai Yu.</p>
    </footer>
</body>
</html>
