/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #333 0%, #666 100%);
    border-bottom: 5px solid #444;
}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #ddd;
}

.navbar .logo h1 {
    font-size: 24px;
    color: #fff;
}

/* Navbar Profile Info Styles */
.profile-info {
    display: flex;
    align-items: center;
}

.navbar-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

#navbarNickname {
    font-weight: bold;
    color: #fff;
}

/* Dropdown Menu Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 240px; /* Increased width */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border: 1px solid #666; /* Added border for better visibility */
}

.dropdown-content a {
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
    border: 1px solid #888; /* Slightly darker border on hover */
}
